.centered-mt {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    white-space: pre-line;
    margin-top: 50px;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-editor {
    display: flex;
    justify-content: right;
    margin-right: 50px;
}

.editor {
    border: 1px solid #ced4da;
}

.editor-page {
    height: 85vh;
    width: 100%;
    margin-top: 20px;
}

.editor-size {
    height: 80vh;
}

.MuiTabs-scrollButtons.Mui-disabled {
    opacity: 0.3;
}

.fileTree{
    padding-left: 40px;
    margin: auto;
}

.MuiTabs-scrollButtons.Mui-disabled {
    opacity: 0.3;
}