.centered-mt {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    white-space: pre-line;
    margin-top: 25px;
}

.download-buttons{
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
    gap: 30px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.editor {
    border: 1px solid #ced4da;
    height: 78.5vh;
}

.editor-close-button{
    padding: 0;
    position: relative;
    bottom: 2px;
    left: 8px;
}

.editor-page {
    height: 84vh;
    width: 100%;
    margin-top: 20px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.file-pane{
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.file-selector{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.MuiTabs-scrollButtons.Mui-disabled {
    opacity: 0.5;
}

.notFound-mt {
    margin-top: 60px;
}